[submodule "PKDSIM/UnityAssets"]
	path = PKDSIM/UnityAssets
	url = https://github.com/Pkdsim-Official/Unity_Assets.git

[submodule "PKDSIM/UnityPackages"]
	path = PKDSIM/UnityPackages
	url = https://github.com/Pkdsim-Official/Unity_Packages.git
