/Assets/Adaptive Performance
/Assets/AddressableAssetsData
/Assets/Editor
/Assets/Fantasy Skybox FREE
/Assets/t_posed_models
/Assets/Settings
/Assets/Scenes
/Assets/Samples
/Assets/Resources
/Assets/Plugins
/Assets/PkpediaFull
/Assets/TextMesh Pro
/Assets/MobileDependencyResolver
/Assets/UI Toolkit
/Assets/Materials
/Assets/USys
/Assets/XR
